<!-- Header -->
<header class="header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" aria-label="Main navigation">
        <div class="container">
            <a class="navbar-brand" href="index.html" aria-label="Bharatiya Human Rights Council Home">
                <img src="./images/logo-dark.png" alt="BHRC Logo" height="50" class="d-inline-block align-text-top">
                <span class="brand-text ms-2">BHRC</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">About</a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="about.html">About Us</a></li>
                            <li><a class="dropdown-item" href="mission-vision.html">Mission & Vision</a></li>
                            <li><a class="dropdown-item" href="founder.html">Founder</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="membersDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">Members</a>
                        <ul class="dropdown-menu" aria-labelledby="membersDropdown">
                            <li><a class="dropdown-item" href="members/national.html">National Level</a></li>
                            <li><a class="dropdown-item" href="members/state.html">State Level</a></li>
                            <li><a class="dropdown-item" href="join-us.html">Join Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="activities.html">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="complaint.html">File Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white px-3 ms-2" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>